footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10px 15px;
    direction: rtl;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 3rem;
}
footer aside:nth-child(1) p {
    width: 258px;
    line-height: 40px;
color: var(--unnamed-color-958a9d);
font: normal normal normal 14px/22px Noto Kufi Arabic;
color: #958A9D;
}
footer aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer aside nav {
    display: flex;
    gap: .7rem;
    align-items: center;
}
footer h5 {
    font-weight: bold;
    padding-bottom: 1rem;
    color: #FCC939;
}
footer p , footer aside nav i {
    font-weight: bold !important;
    color: #958A9D;
    font: normal normal normal 14px/27px Noto Kufi Arabic;
}

footer section {
    display: flex;
    gap: 1rem;
}
footer nav i {
    color: #958A9D;
font-weight: bold !important;
}
 footer nav path {
    fill: #958A9D ;

}
footer section div {
    padding: 6px 10px;
    border-radius: 5px;
}
footer section div i {
    color: #958A9D ;

}

footer section div:hover  {
transform: rotate(45deg);
    background: transparent linear-gradient(48deg, #FFD03F 0%, #FCC939 20%, #F5B82A 46%, #EA9C12 77%, #E58E06 90%, #DF8800 100%) 0% 0% no-repeat padding-box;
}
 /* footer section {} */
 footer section div:hover i   {
transform: rotate(-45deg);
color: #401460 ;
}
 footer section div:hover path {
fill: #401460 ;
}
footer section div:hover svg {
    transform: rotate(-45deg);

}
    .puiux {
    
position: relative;
}
/* .puiux::before { */
    /* content: '';
    position: absolute;
    inset: 0;
    z-index: -3;
    background: url("../img/x\ \(1\).svg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; */
    /* height: 578px; */
/* } */
.puiux aside {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-direction: row-reverse;
}
.puiux aside h6 {
    color: #C9B9D5;   
}
.puiux aside span {
    color: #FFD03F ;   
}
.puiux article {
    display: flex;
    padding: 30px 130px  ;
    justify-content: space-between;
align-items: center;
width: 100%;
background: #401460;
}
.smile_footer {
    position: absolute;
    z-index: 1;
    right: 0%;
    top: 10%;
    width: 400px;
    height: auto;
}
.foot_puiux {
    width: 100%;
    position: relative;
    bottom: -44px;
}
.puiux article h6 {
    font-size: .8rem;
    font-weight: bold;
}
.header_btn2 {
    background: #fbf4ff;
    position: absolute;
    left: 38%;
    top: 15%;
    font-weight: 400;
    z-index: 9;
}
.header_btn2:hover {
    color: var(--color-bg-1);
    transform: translateY(-1rem);
    }
    .header_btn2 i {
    position: absolute;
    font-size: 1.4rem;
    color: #5d0a91;
    
    }  
    .header_btn2 svg {
    fill: currentColor;
    height: auto;
    max-width: 70vmin;
    transform-origin: center;
    width: 130%;
    animation: spinText 30s linear infinite;
    color: #5d0a91;
    }