
 
:root {
--unnamed-color-6e478a: #6E478A;
--unnamed-color-p: #b1aab6;
--unnamed-color-401460: #401460;
--unnamed-color-c9b9d5: #C9B9D5;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-070707: #070707;
--color-primary:#6E478A;
--color-primary-variant:#4D0877;
--transition: all 400ms ease;
}

* {
padding: 0;
margin: 0px;
outline: none;
box-sizing:border-box;
text-decoration: none;
list-style: none;
border: none;
}
html {
scroll-behavior: smooth;
}
body{
width: 100%;
  font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden;
}
a {
text-decoration: none;
color: initial;
}
::selection {
color: #fff;
background: var(--color-primary-variant);
}
::-webkit-scrollbar-thumb {
width: 100%;
background-color: var(--color-primary-variant);
border-radius: 0.25rem;
} 

::-webkit-scrollbar {
width: 0.5rem;
background: rgba(229, 165, 93, 0.2);
} 

h1, h2 ,h3 {
line-height: 1.1;
 }
h1 {
font-size: 4rem;
color: var(--color-white);
}
h2 {
  font-weight: bold;
font-size: 3.5rem;
}
a {
color: var(--color-light);
transition: var(--transition);
}
a:hover {
color: var(--color-primary);
}
h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,p ,a ,address , ul ,li {
padding: 0;
margin: 0px;
text-transform: capitalize;
}

/* ================================ */

.offer .container {
padding-right: 60px;
padding-left: 60px;
}
.container {
overflow: hidden;
}
.ctn-preloader {
-webkit-box-align: center;
        align-items: center;
cursor: none;
display: -webkit-box;
display: flex;
height: 100%;
-webkit-box-pack: center;
justify-content: center;
position: fixed;
left: 0;
top: 0;
width: 100%;
transition-delay: 1s;
z-index: 999;
}
.ctn-preloader .animation-preloader {
position: absolute;
z-index: 100;
}
.ctn-preloader .loader-section {
background-color: var(--color-primary-variant);
height: 100%;
position: fixed;
top: 0;
-webkit-transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
width: calc(50% + 1px);
}
.ctn-preloader.loaded {
cursor: auto !important;
visibility: hidden;
z-index: 0;
}

.ctn-preloader .loader-section.section-left {
left: 0;
}

.ctn-preloader .loader-section.section-right {
right: 0;
}

.loaded .animation-preloader {
opacity: 0;
-webkit-transition: 0.3s ease-out;
transition: 0.3s ease-out;
}

.loaded .loader-section.section-left {
-webkit-transform: translateX(-101%);
        transform: translateX(-101%);
-webkit-transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
}
.loaded .loader-section.section-right {
-webkit-transform: translateX(101%);
        transform: translateX(101%);
-webkit-transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2.000);
}
 
#myDiv {
  display: none;
  z-index: 9999;
  position: relative;
  width: 100%;
  height: 100%;
}
  
 
/* ======================================= */

.header {
position: fixed;
top: 0;
width: 100%;
z-index: 9999;
right: 0;
}
.relative_img {
position: relative;
}
.progress-container {
background-color: var(--color-primary);
height: 4px;
direction: rtl;
width: 100%;
}

.progress-bar {
background-color: #EA9C12;
height: 4px;
width: 0%;
}
 
 /*  */
 
 .hero {
  background-color: var(--unnamed-color-070707);
 }
 .nav-bar {
  padding: 20px 0 ;
  display: flex;
  justify-content: space-between;
  color: var(--unnamed-color-ffffff);
  align-items: center;
}
.nav-bar i {
  font-size: 25px;
}
.btn-nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.nav-bar ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.nav-bar ul li {
font-size: 20px;
}

.y i {
   color: var(--color-primary-variant);
   font-size: 25px;
}
.y {
  display: none;
}

.home-hero {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero  .container {
  position: relative;
  z-index:  1;
}
.back-right {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--color-primary-variant);
  width: 100%;
  max-width: 400px;
  height: 100%;
  z-index: -1;
}
.hero-img {
  max-height: 488px;
  height: 100%;
}
.hero-img img {
   height: 100%;
}

.btn-hero {
  font-size: 16px;
  position: relative;
   padding: 1.2em 2.5em 1.2em 2.5em;
  border: none;
  background: var(--color-primary-variant);
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
  border-radius: 3pc;
 }
 
 .btn-hero:active {
  transform: scale(0.95);
 }
 
 .btn-hero span {
  color: var(--unnamed-color-ffffff);
 }
 
 .btn-hero .border {
  position: absolute;
  border: 0.15em solid var(--color-primary-variant);
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 9em;
  height: 3em;
  transform: translate(-50%, -50%);
 }
 
 .btn-hero:hover .border {
  display: block;
  width: 9.9em;
  height: 3.7em;
 }
 
 .full-rounded {
  border-radius: 2em;
 }
.p-hero {
  width: 70%;

}
 .home-hero h2 {
  font-size: 49px;
  color: var(--unnamed-color-ffffff);
   padding-bottom: 25px;
}
.home-hero p {
  font-size: 14px;
  padding-bottom: 50px;
  color: var(--unnamed-color-p);
}
 
.num-k {
  display: flex;
   align-items: center;
  gap: 2rem;
}


.num-k  h4 {
  color: var(--unnamed-color-ffffff);
font-size: 35px;
font-weight: 900;
}
.num-k div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 1rem;
  flex-direction: column;
}
.num-k  p {
color: var(--unnamed-color-p);
font-size: 14px;
}

.card-about-content {
  padding: 25px;
  border-radius: 1pc;
  background-color: #dad5de1f;
  transition: var(--transition) !important;
  display: flex;
  color: var(--unnamed-color-p);
  gap: 1rem;
   flex-direction: column;
}
.card-about-content:hover {
  transform: translateY(-10px) !important;
  background: var(--unnamed-color-070707);
  color: var(--unnamed-color-ffffff);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.container {
  overflow: visible;
}
.card-about-content p {
  font-size: 14px;
}
.card-about-content i {
  font-size:  50px;
}
.card-about-content h5 {
  font-size:  30px;
}

.card-about {
  padding: 100px 0;
}

.title-card-about h2 {
  color: var(--unnamed-color-070707);
}
.title-card-about h6 {
  font-size:  18px;
  color:var(--color-primary);
}
.title-card-about {
  display: flex;
  text-align: center;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
footer {
  display: flex;
  text-align: center;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 15px;
  background: var(--color-primary-variant);
  color: var(--unnamed-color-ffffff);
}

footer p {
  font-size:  20px;
}

footer i {
  font-size:  30px;
}
.contactUs-data {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 2rem;
}
.contactUs h2 {
font-size: 49px;
color: var(--unnamed-color-070707);
}

.contactUs h6 {
font-size: 18px;
padding-bottom: 10px;
color: var(--color-primary);
}
.contactUs-data div {
  display: flex;
  flex-direction: column;
  gap: 15px;
 }

 .contactUs-data div h4 {
  font-size: 25px;
  color: var(--unnamed-color-070707);
  font-weight: bold;
 }
 .contactUs-data div p {
  font-size: 14px;
  color:var(--unnamed-color-p);
 }

 .contactUs {
  padding-bottom: 100px;
 }


 
 .form-content   .input {
   width: 100%;
  height: 45px;
  border: 2px solid transparent;
  outline: none;
  border-bottom: 2px solid var(--unnamed-color-6e478a);
  caret-color: var(--unnamed-color-c9b9d5);
  background-color: transparent;
  padding: 5px;
  transition: .5s linear;
  font-family: monospace;
  letter-spacing: 1px;
}

.form-content .input:focus {
  border-bottom: 2px solid var(--color-primary);
  caret-color:  var(--color-primary);
  color: var(--unnamed-color-ffffff);
 }

 .form-content  .input:focus::placeholder {
  color: var(--unnamed-color-ffffff);
}
.form-content  .input::placeholder {
  color: var(--unnamed-color-ffffff);
}

.form-content {
  padding: 30px 40px;
  border-radius: 1pc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  color: var(--unnamed-color-ffffff);
  height: 100%;
  background: var(--color-primary-variant);
}


.btn-conteiner {
  display: flex;
  justify-content: center;
 }

.btn-content {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  text-decoration: none;
   font-weight: 800;
  font-size: 18px;
  color: var(--unnamed-color-ffffff);
  background: var(--unnamed-color-070707);
  transition: 1s;
  border-radius: 3pc;
  box-shadow: 0 0 0.2em 0 var(--unnamed-color-070707);
}

.btn-content:hover, .btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--unnamed-color-070707);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}
  
/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: var(--unnamed-color-ffffff);
  }

  50% {
    fill: var(--unnamed-color-070707);
  }

  100% {
    fill: var(--unnamed-color-ffffff);
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--unnamed-color-070707);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--unnamed-color-070707);
    outline-offset: 0;
  }
}





.about {
  padding-bottom: 100px;
}


.about .data-details {
  display: flex;
  align-items: center;
transition: var(--transition);
gap: 10px;
  color: var(--unnamed-color-070707);
}
.about .data-details p {
  font-weight: bold;
}

.about .item-content img {
border-radius: 1pc;
 height: 250px;
max-height: 250px;
}
.about .item-content {
  padding: 30px  ;
  background-color: #dad5de1f;
border-radius: 1pc;
color: var(--color-primary-variant);
transition: var(--transition);
 }
.about .item-content:hover {
background: var(--color-primary-variant);
color: var(--unnamed-color-ffffff);
transform: translateY(-10px);
box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.about .item-content:hover .data-details {
  color: var(--unnamed-color-ffffff);

}
  .about .item-content h4 {
  font-weight: bold;
   font-size: 25px;
}
.about .item-content p {
  font-size: 14px;
   opacity: 0.8;
}

.item-content figure {
border-radius: 1pc;
width: 100%;
  height: 100%;
  max-height: 300px;
  margin: 0;
  padding: 0;
  background: var(--unnamed-color-ffffff);
  overflow: hidden;
}
.item-content figure:hover+span {
  bottom: -36px;
  opacity: 1;
}
.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.text-details {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 1rem;
}


 


.title-card-about-us {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-fixed  {
  position: fixed;
  top: 0;
left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
   z-index: 99;
  background: linear-gradient(to right , var(--color-primary-variant) , var(--unnamed-color-070707) );
  width: 100%;   
  box-shadow: #2c2c2c54 0px 48px 100px 0px;
    transition: var(--transition);
}


.grid-partener img {
  width: auto;
  max-height: 200px;
  max-width: 150px;
  filter: invert(34);
}
.grid-partener {
  padding: 50px 50px;
  background-color: var(--color-primary-variant);
  display: flex;
     justify-content: space-between;
    gap: 20px;
     align-items: center;
    border-radius: 2pc;
 
}
.partener {
  margin-bottom: 100px;
  
}


.about-us-flex  {
  gap: 2rem;
  padding-top: 40px;
}


.btn-vedio span {
margin-left: 10px;
font-weight: bold;
}
.about-us-img {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-img::before {
  content: " ";
  position: absolute;
  left: 7%;
  top: -7%;
  background-color: var(--color-primary-variant);
  border-radius: 1pc;
  width: 100%;
  height: 100%;
  /* max-width: 420px; */
  /* max-height: 420px; */
  z-index: -1;
}
.about-us-img img {
  width: 100%;
  height: 100%;
  /* max-width: 400px; */
  /* max-height: 400px; */
  border-radius: 1pc;
}
.about-us p {
  color: var(--unnamed-color-p);
}
.about-us h6 {
  font-size: 18px;
  color:var(--color-primary-variant);
}
.about-us p {
  color: var(--unnamed-color-070707);
  font-size: 14px;
  width: 70%;
}

.modal-content {
  background: var(--color-primary-variant);
}

.modal-dialog {
  max-width: 56%;
}
.modal-content img {
  border-radius: 1pc 0 0 1pc;
}
.modal-content {
  border-radius: 1pc;
}
.modal .text-details {
  color: var(--unnamed-color-ffffff); 
  padding-right: 20px;
  padding-bottom: 20px;
}

.modal-body {
  padding: 0;
}

.modal   .data-details {
  color: var(--unnamed-color-ffffff);

}

.card-test {
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: #dad5de1f;
  border-radius: 1pc;
  max-height: 380px;
}
.card-test .left  , .card-test .right {
 transition:var(--transition);
}
.card-test .left img {
  border-radius: 1pc 0 0 1pc;
  height: 380px;
  opacity: 0;
  transition:var(--transition);
 }
 .card-test  .right {
  display: flex; 
  flex-direction: column;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
 }
 .card-test  .right h5 {
font-size: 25px;
color: var(--unnamed-color-070707);
font-weight: bold;
}
.card-test .right h6 {
  font-size: 18px;
  padding: 0;
  color: var(--unnamed-color-p);
  }
  .card-test  .right p {
    font-size: 14px;
    color: var(--unnamed-color-p);
  }
  .owl-carousel {
    padding-top: 50px;
    position: relative;
    z-index: 0;
}
 .owl-carousel .item  {
direction: ltr !important;
 }
 .owl-item.center .left img {
  width: 100%;
  max-width: 400px;
  opacity: 1;
  min-width: 300px;
}
 .owl-item.center .left   {
  flex-basis: 50%;
  transition:var(--transition);
  width: 100%;
  }

  .owl-carousel .owl-dots {
    display: none;
  }
  .owl-item.center .right   {
    flex-basis: 50%;
    width: 100%;
    }
   .owl-item.center .right   {
    flex-basis: 100%;
    width: 100%;
    }
  
   
.testimonials {
  padding-bottom: 100px;
}
.owl-theme .owl-nav {
  margin-top: 10px;
  position: absolute;
  top: -22%;
  right: 0;
}
.owl-prev {
  position: absolute;
   left: -55px;
   background-color: var(--color-primary-variant) !important;
  color: var(--unnamed-color-ffffff) !important;
  border-radius: 50% !important;
  padding: 15px !important;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.owl-next {
  position: absolute;
  background-color: var(--color-primary-variant) !important;
  color: var(--unnamed-color-ffffff) !important;
  border-radius: 50% !important;
  padding: 15px !important;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -135px;
}
.testimonials  h6 {
  color: var(--color-primary-variant);
  font-size: 18px;
  padding-bottom: 20px;
}
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filters ul  {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.filters ul li  {
  font-weight: bold ;
}

.portofilo img {
  border-radius: 1pc;
}
.portofilo-img .img1 {
  width: 100%;
  height: 400px;
}
.portofilo-img   img {
  width: 100%;
  height: 100%;
}
.portofilo-img-gap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.portofilo-img .img2 {
  width: 100%;
  height: 200px;
}
.portofilo-img .img3 {
  width: 100%;
  height: 250px;
}
.portofilo-img .img4 {
  width: 100%;
  height: 350px;
}
.portofilo-img {
  padding-top: 50px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: transparent;
  color: var(--color-primary-variant) !important;
  border-color: transparent;
}
.nav-tabs {
  border-bottom: transparent;
}
.nav-link {
  color: var(--unnamed-color-070707) !important;
padding: 0 !important;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent;
  background-color: transparent;
}




@media (max-width:999px) {
  .y {
      display: block;
    }
    .nav-desktop {
      display: none !important;
    }
    img.balon-home {
    display: none;
  }
  }
  @media (max-width:768px) {
    .back-right {
      right: unset;
      top: -1%;
      max-width: 177px;
      height: 8%;
      filter: blur(38px);
      left: -12%;
  }
  h2 {
    font-size: 32px !important;
  }
  p {
    font-size: 12px !important;
  }
  .p-hero {
    width: 90%;
}
.num-k h4 {
  font-size: 25px;
}
.num-k p {
  font-size: 10px;

}
.card-about-content h5 {
  font-size: 25px;
}
.btn-hero {
  font-size: 14px;
  padding: 1rem 20px;

}
.portofilo-img .img2 , .portofilo-img .img1 , .portofilo-img  .img3 , .portofilo-img  .img4 {
  height: 250px;
}
.portofilo-img .img2  {
  padding-bottom: 24px;
}
.row {
  gap: 2rem;
}
.portofilo .row {
  gap: 24px;
}
.btn-content {
  font-size: 14px;
  padding: 10px 20px;
}
.filters ul {
  gap: 1rem;
}
.about-us-flex {
  margin-bottom: 3rem;
  padding-top: 20px;
}
.num-k {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title-card-about h2 {
  font-size: 20px;
}
.nav-fixed {
  justify-content: space-between;
  padding: 20px 22px;
}
.card-test {
 max-height: 100%;
}
.owl-item .left img {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  border-radius: 1pc ;
  height: 250px
}
.modal-dialog {
  max-width: 100%;
}
.modal .text-details {
  padding: 10px !important;
}
.modal-content img {
  border-radius: 1pc;
}
.card-test {
  gap: 1rem;
  flex-direction: column;
}
    }
  
  


    .marquee {
      background-color: var(--color-primary-variant);
      padding: 50px 50px;
    overflow: hidden;
    border-radius: 2pc;
    }
    .marquee img {
      margin: 0 10px;
      filter: invert(1);
    }
    .marquee__inner-wrap {
      height: 100%;
      width: 100%;
    }
    
    .marquee span {
      text-align: center;
      color: lightgray;
      font-weight: 400;
      white-space: nowrap;
      font-size: max(2vw, 2.4rem);
      line-height: 1.2;
      font-weight: 700;
      padding: 1vh 1vw 0;
      text-transform: uppercase;
    }
    
    
    .marquee__inner {
      height: 100%;
      width: fit-content;
      align-items: center;
      display: flex;
      position: relative;
      animation: marquee 50s linear infinite;
      will-change: transform;
    }
    
    @keyframes marquee {
      to {
        transform: translateX(-50%);
      }
    }


    .offcanvas-body .offcanvas_body_direction .btn-nav {

font-size: 20px;
color: var(--unnamed-color-070707);

    }
    .offcanvas-body .offcanvas_body_direction {
      flex-direction: column;
      gap: 1rem;
    }
    .offcanvas-body .offcanvas_body_direction a {
      color: var(--unnamed-color-070707);
font-weight: bold;
font-size: 20px;

    }
